**/.env
**/.coverage
**/.venv
**/.pytest_cache
**/.mypy_cache
**/.nox
**/.python-version
**/.pytype
{{cookiecutter.repo_name}}/docs/_build
{{cookiecutter.repo_name}}/src/*.egg-info
**/__pycache__
**/.cache
**/docs/build


